Node-RED nodes
[
    {
        "id": "eb474aad4b407f31",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe44e91de8132189",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/licht/aanUitKnop/level/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "50edc4e6cb225470",
        "type": "ui_switch",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "aan/uit",
        "tooltip": "",
        "group": "3939574c4a199fb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Farmlab/1/licht/aanUitKnop/level/1",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "fe44e91de8132189"
            ]
        ]
    },
    {
        "id": "cf6bdee83dd4c550",
        "type": "ui_switch",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "aan/uit",
        "tooltip": "",
        "group": "239b889f7f14c3f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Farmlab/aanUitVerdiep1",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "682b9e1753538132"
            ]
        ]
    },
    {
        "id": "a6b1cbbcd39a61c6",
        "type": "ui_switch",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "aan/uit",
        "tooltip": "",
        "group": "d51b4b397d986703",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Farmlab/aanUitVerdiep1",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "bc40cda28eff6f7e"
            ]
        ]
    },
    {
        "id": "682b9e1753538132",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/licht/aanUitKnop/level/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc40cda28eff6f7e",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/licht/aanUitKnop/level/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "0f03d1a1268bd4d4",
        "type": "ui_dropdown",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "Plant keuze",
        "tooltip": "",
        "place": "Select option",
        "group": "3939574c4a199fb4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bieslook",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Basilicum",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Koriander",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Monstera Deliciosa",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Cactus",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Farmlab/plantKeuzeVerdiep1",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "5ae5f586faaf5850"
            ]
        ]
    },
    {
        "id": "5ae5f586faaf5850",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/plantKeuze/level/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "4b570c4fde0a2d1d",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/plantKeuze/level/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "9719082c7427561d",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/plantKeuze/level/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "0310d9915bc1bbc4",
        "type": "ui_dropdown",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "Plant keuze",
        "tooltip": "",
        "place": "Select option",
        "group": "239b889f7f14c3f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bieslook",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Basilicum",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Koriander",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Monstera Deliciosa",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Cactus",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Farmlab/plantKeuzeVerdiep1",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "4b570c4fde0a2d1d"
            ]
        ]
    },
    {
        "id": "2204629a50bb4460",
        "type": "ui_dropdown",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "Plant keuze",
        "tooltip": "",
        "place": "Select option",
        "group": "d51b4b397d986703",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Bieslook",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Basilicum",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Koriander",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Monstera Deliciosa",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Cactus",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Farmlab/plantKeuzeVerdiep1",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "9719082c7427561d"
            ]
        ]
    },
    {
        "id": "440753e6b5fd4ad8",
        "type": "ui_colour_picker",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "Manueel Kleur kiezer",
        "group": "3939574c4a199fb4",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 880,
        "y": 280,
        "wires": [
            [
                "d9d881494351ce79"
            ]
        ]
    },
    {
        "id": "6230bdbba8df343e",
        "type": "ui_colour_picker",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "Manueel Kleur kiezer",
        "group": "239b889f7f14c3f4",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "c971ec20381b2dbf"
            ]
        ]
    },
    {
        "id": "645c5fa79ec8ab58",
        "type": "ui_colour_picker",
        "z": "eb474aad4b407f31",
        "name": "",
        "label": "Manueel Kleur kiezer",
        "group": "d51b4b397d986703",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 880,
        "y": 440,
        "wires": [
            [
                "f5e4038b84a2cb8d"
            ]
        ]
    },
    {
        "id": "d9d881494351ce79",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/kleurKiezer/level/1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "c971ec20381b2dbf",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/kleurKiezer/level/2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "f5e4038b84a2cb8d",
        "type": "mqtt out",
        "z": "eb474aad4b407f31",
        "name": "",
        "topic": "Farmlab/1/kleurKiezer/level/3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1180,
        "y": 420,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3939574c4a199fb4",
        "type": "ui_group",
        "name": "Verdiep 1",
        "tab": "fe5d4bc69f1c6572",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "239b889f7f14c3f4",
        "type": "ui_group",
        "name": "Verdiep 2",
        "tab": "fe5d4bc69f1c6572",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d51b4b397d986703",
        "type": "ui_group",
        "name": "Verdiep 3",
        "tab": "fe5d4bc69f1c6572",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe5d4bc69f1c6572",
        "type": "ui_tab",
        "name": "Farmlab ledcontroller",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
